@font-face
{
	font-family: sansa;
	src:url(SansationLight.woff);			/*font*/
}

h1,p 																	
{
	font-family: sansa;
}

p
{
	font-size: 20px;
}

body
{
	background: url(poetic1.png) no-repeat;             /*image*/
	background-size: cover;
}

/* navigation bar start*/
ul.nav
{
	list-style-type: none;
	margin-left: 200px;
	margin-top: 50px;
}

li.navitem
{
	font-size: 28px;
	padding: 20px;
	display:inline;
}

li a
{
	font-family: sansa;
	text-decoration: none;
	color: grey;
}

li a:hover
{
	font-family: sansa;
	background-color: grey;
	color: white;
	border-radius: 10px;
}

/*Navigation bar end*/

/*division of page start*/
.col
{
	float: left;
	padding: 2px;
}

.col.side
{
	width: 20%;
}

.col.mid
{
	width: 60%;
}

@media screen (max-width: 600px)   			/*responsive division of columns*/
{
	col.side,col.mid
	{
		width: 100%;
	}
}
/*division end*/

#poetlist
{
	font-family: sansa;
	margin-left: 5px; 				/*list of fav poets*/
	font-size: 20px;
}
